# <center> Лабораторная работа № 4</center>
Перед началом выполнения каждой лабораторной работы, необходимо выполнить код в двух ячейках ниже. В случае если модуль `datetime` не установлен нужно установить. В последнем принте нужно вывести свою фамилию и инициалы.

In [2]:
!whoami

simko

In [3]:
from datetime import datetime

current_time = datetime.now()
print(current_time)
print("Simko S.E.") # написать здесь свою фамилию и инициалы

2022-12-09 15:57:04.705253
Simko S.E.

# Задания

In [2]:
import pandas as pd
df = pd.read_csv("data.csv", sep = ';')

**Задание 1.** В датафрейме `df` задана некоторая таблица. Написать функцию `get_rows_after_5(df, n)`, возвращающую датафрейм, в котором записано `n` строк, начиная с пятой сверху (включая 5-ю). Например, `get_row_after_5(df, 1)` должна вернуть только пятую строку, а `get_row_after_5(df, 2)` — 5-ю и 6-ю.

**Внимание!** Индексами (именами строк) могут быть не числа, а что угодно.

In [5]:
def get_rows_after_5(df, n):
    return df.iloc[4:(4+n)] 

get_rows_after_5(df,2)

,ID,Region,global_id,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,Unnamed: 13
4,302,город Москва (за исключением Троицкого и Новом...,19693301,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 17:00 по 21:00 ч (многотарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,NaN
5,313,город Москва (за исключением Троицкого и Новом...,19693302,Отопление,руб/Гкал,01.09.2012,31.12.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",1440.50,NaN

**Задание 2.** В датафрейме `df` задана некоторая таблица, её индексами являются целые числа, не обязательно идущие по порядку. Написать функцию `between(df, n, m)`, возвращающую все строки этой таблицы, расположенные между строками с индексами `n` и `m`, включая строки с индексами `n` и `m`. Гарантируется, что строка с индексом `n` встречается раньше строки с индексом `m`.

In [6]:
def between(df, n, m):
    return df.loc[n:m]
between(df, 7, 8)

,ID,Region,global_id,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,Unnamed: 13
7,319,город Москва (за исключением Троицкого и Новом...,19693304,Горячее водоснабжение,руб/куб.м,01.09.2012,31.12.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",116.00,NaN
8,324,город Москва (за исключением Троицкого и Новом...,19693305,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,39.01,NaN

**Задание 3.** Загрузите файл `data.csv` (приложен к лабораторной работе). 

3.1. Определите типы данных в каждом столбце и объем используемой памяти таблицей.

3.2. Столбцы с датами `StartDate` и `EndDate` приведети к типу `datetime64` (можно использовать функцию `pd.to_datetime()`) .

3.3. Выберите из датафрейма агенство **ОАО «Мосэнергосбыт»** и подсчитайте среднее значение тарифа (`TariffValue`).

3.4. Подсчитайте для каждого агенства _сумму, максимальное, минимальное, среднее, медианое_ значения тарифа (`TariffValue`).

In [4]:
# 3.1
print(df.dtypes, '\n')
print(df.memory_usage(), '\n')
print(sum(df.memory_usage()), "bytes total")

ID                      int64
Region                 object
global_id               int64
TariffItem             object
UnitOfMeasure          object
StartDate              object
EndDate                object
MeasureDeviceAvail     object
StoveType              object
ConsumptionTime        object
ConsumptionTarget      object
Agency                 object
TariffValue           float64
Unnamed: 13           float64
dtype: object

Index                 128
ID                    568
Region                568
global_id             568
TariffItem            568
UnitOfMeasure         568
StartDate             568
EndDate               568
MeasureDeviceAvail    568
StoveType             568
ConsumptionTime       568
ConsumptionTarget     568
Agency                568
TariffValue           568
Unnamed: 13           568
dtype: int64

8080 bytes total

In [5]:
# 3.2
df["StartDate"] = pd.to_datetime(df["StartDate"])
df["EndDate"] = pd.to_datetime(df["EndDate"])
print(df.dtypes)

ID                             int64
Region                        object
global_id                      int64
TariffItem                    object
UnitOfMeasure                 object
StartDate             datetime64[ns]
EndDate               datetime64[ns]
MeasureDeviceAvail            object
StoveType                     object
ConsumptionTime               object
ConsumptionTarget             object
Agency                        object
TariffValue                  float64
Unnamed: 13                  float64
dtype: object

In [6]:
# 3.3
MES_df = df[df["Agency"] == "ОАО «Мосэнергосбыт»"]
print(MES_df["TariffValue"].mean())

2.57125

In [35]:
# 3.4
agencies = list(set(df["Agency"]))
agencies_tariff_df = pd.DataFrame({
    "SumTariff": 0.0,
    "AverageTariff": 0.0,
    "MinTariff": 0.0,
    "MaxTariff": 0.0,
    "MedianTariff": 0.0}, index = agencies)
for agency in agencies:
    agency_df = df[df["Agency"] == agency]
    agency_tariff = agency_df["TariffValue"]
    agencies_tariff_df.at[agency, "SumTariff"] = sum(list(agency_tariff))
    agencies_tariff_df.at[agency, "AverageTariff"] = agency_tariff.mean()
    agencies_tariff_df.at[agency, "MinTariff"] = min(list(agency_tariff))
    agencies_tariff_df.at[agency, "MaxTariff"] = max(list(agency_tariff))
    agencies_tariff_df.at[agency, "MedianTariff"] = agency_tariff.median()

In [36]:
agencies_tariff_df.head()

,SumTariff,AverageTariff,MinTariff,MaxTariff,MedianTariff
ОАО «Мосэнерго» и ОАО «МТК»,3366.70,561.116667,84.62,1075.43,541.455
ООО «Мосрегионгаз»,7.02,3.510000,2.93,4.09,3.510
ООО «Газпром межрегионгаз Москва»,13021.28,723.404444,4.09,3370.00,36.460
ОАО «Мосгаз»,1126.00,1126.000000,1126.00,1126.00,1126.000
"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО «МТК»",4484.41,747.401667,105.45,1440.50,720.850